body{
    background-color: rgb(34, 192, 255);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
#qdrd{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 400px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 40px;
}
#res{
    padding-bottom: 20px;
}
p{
    text-align: center;
    font-size: 20px;
    color: white;
}