body{
    background-color: rgb(0, 161, 161);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
div#qdrd{
    background-color: aliceblue;
    margin: auto;
    height: 450px;
    width: 600px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    font-size: 25px;   
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    text-align: center;
    color: white;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding-top: 30px;
}