body{
    background-color: rgb(34, 192, 255);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
#qdrd{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 800px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 40px;
}
#flista{
    width: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    font-size: 28px;
    max-height: 200px;
}

p{
    text-align: center;
    font-size: 20px;
    color: white;
}