body{
    background-color: rgb(34, 192, 255);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
#qdrd{
    background-color: rgb(255, 255, 255);
    min-height: 180px;
    height: auto;
    width: 800px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}
#res{
    height: auto;
    min-height: 100px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    font-size: 28px;
    max-height: 200px;
    margin-bottom: 0px;
}

p{
    text-align: center;
    font-size: 20px;
    color: white;
}